
html, body
{
    height: 100%;
    width: 40%;
    overflow: hidden;
}

body {
    background: url('./assets/images/chat_background.svg');
    background-size: cover;
}

.test
{
    text-align: center;
    background: linear-gradient(to right, #e174d2, #e2c374);
    border: none;
    color: white;
    font-size: 50px;
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

