body {
    background-color: #efefef;
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

main {
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

section {
}
