html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, rgb(31, 31, 31), rgba(31, 31, 31, 0.9));
    text-align: center;
    color: #ffffff;
    font-family: "Helvetica Neue", Arial, sans-serif, 'Nunito';
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-flow: row;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
}

label,
button[type=submit]{
    padding: 6px;
    border-radius: 5px;
    -webkit-app-region: no-drag;

}

.field-group {
    position: relative;
}

.field-group > label {
    text-transform: uppercase;
    display: inline-block;
    font-size: 8px;
    position: absolute;
    top: -16px;
    left: 6px;
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    background: linear-gradient(45deg, #d2fb48, #acf85a);
    box-shadow: #290661 0 2px 3px;
}

.field-group > input {
    display: block;
}

.field-group:hover
{
    transition: 0.5s;
    background-position-x: 300%;
    transform: translateX(-3px);
}

button[type=submit]:focus{
    padding: 6px;
    border-radius: 50px;
}

input[type=email],
input[type=password],
input[type=text] {
    border-radius: 50px;
    margin-bottom: 2em;
    outline: none;
    border: 1px solid #ffffff;
    padding: 6px;
    -webkit-app-region: no-drag;
}

input[type=password] { margin-bottom: 1em }

input[type=text]:focus {
    border-radius: 50px;
    outline: none;
    border: 1px solid #ffffff;
    color: #243120;
    padding: 6px;
    -webkit-app-region: no-drag;
}
.container
{
    background: linear-gradient(to right, #d2fb48,#acf85a,#d2fb48);
    background-size: 500px;
    transition: 0.5s;
    color: white;
}
.container:hover
{
    background-position-x: 300%;
    transform: translateX(-3px);
}
.container:after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
}
.container:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 4px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    transform: scale(0);
    filter: blur(2px);
    transition: 0.5s;
    z-index: -1;
}
.container:hover:before
{
    transform: scale(1);
    bottom: -15px;
}
.logo
{
    background-size: 500px;
    transition: 0.5s;
    padding: 6px;
}
.logo:hover
{
    background-position-x: 300%;
    transform: translateY(-12px);
}
.logo:after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
}
.logo:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 4px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    transform: scale(0);
    filter: blur(2px);
    transition: 0.5s;
    z-index: -1;
}
.logo:hover:before
{
    transform: scale(1);
    bottom: -15px;
}

#passwordArea {
    position: relative;
}

#passToggle {
    position: absolute;
    right: 2px;
    top: 0;
}

.inputs
{
    background-size: 500px;
    transition: 0.5s;
    padding: 6px;
}
.inputs:hover
{
    background-position-x: 300%;
    transform: translateX(3px);
}
.inputs:after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
}
.inputs:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 4px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    transform: scale(0);
    filter: blur(2px);
    transition: 0.5s;
    z-index: -1;
}
.inputs:hover:before
{
    transform: scale(1);
    bottom: -15px;
}

::-webkit-scrollbar {
    display: none;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

